<div id="orderDetailModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Order details for order number: <span id="orderHeading"></span></h4>
            </div>
            <div class="modal-body">
                
                <h4>Order Date: <span id="orderDate"></span></h4>
                <div>
                    
                    <div id="orderItems"></div>
                </div>
                
                <hr />
                <h4 class="">Order price Total: <span id="orderTotal"></span></h4>
            </div>
            
            
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Lukk</button>
                
            </div>
        </div>
    </div>
</div>
