<div id="lowInventoryModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Attention! Please review the low inventory of the following Items: <span id="itemHeading"></span></h4>
            </div>
            <div class="modal-body">
                <div id="itemDiv"></div>
                
                <hr />
                
            </div>
            
            
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Lukk</button>
                
            </div>
        </div>
    </div>
</div>
