body {
}

.dropdown{
    margin-top:12px;
}

#shoppingbasket_aside{
    
    color:coral !important;
    position: relative;
    right: 0;
    min-width: 10em;
    width: auto;
}

.creditcard_digits{
    width: 50px;
}

.thumbnail-container{
    height: 200px;
    overflow: auto;
}
.thumbnail-container img{
    max-height: 100%;
}

.thumbnail{
    
    height: 100px !important;
    overflow: auto !important;
}

.small_thumbnail{
        height: 35px !important;
    overflow: auto !important;
}

.linkBtnMargin{
    margin-left: 10px;
}
